<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Example for http://staging.somesite.com/robots.txt -->
    <add key="robotnik-staging.somesite.com" value="~/robots-staging.txt" />
    <!-- Example for http://www.somesite.com/robots.txt -->
    <add key="robotnik-www.somesite.com" value="~/robots-production.txt" />
    <!-- Example for default. -->
    <add key="robotnik-default" value="~/robots-staging.txt" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>